body, h1, p, footer {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
}

.logo img {
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 5px #555;
    border-radius: 50%;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    margin-top: 20px;
}

a {
    margin-top: 500px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

footer {
    text-align: left;
    padding: 10px;
    background-color: #f0f0f0;
    margin-top: auto;
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .logo img {
        width: 40px;
        height: 40px;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }

    .navbar ul li {
        margin: 0 10px;
    }

    .navbar ul li a {
        font-size: 1rem;
    }

    .main-content {
        padding: 20px;
        text-align: center;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
        margin-top: 10px;
    }

    a {
        margin-top: 20px;
        font-size: 1rem;
    }

    footer {
        text-align: center;
        padding: 15px;
    }
}
